[submodule "image-registration-service"]
	path = image-registration-service
	url = https://github.com/giobart/image-registration-service
[submodule "face-detection"]
	path = face-detection
	url = https://github.com/giobart/face-detection
